@charset "UTF-8";
/*##############################################################################*
*### 共通部
*##############################################################################*/
/*==========================================================*
*=== 基本
*==========================================================*/
body {
	/* @see http://sole-color-blog.com/blog/design/963/ */
	font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Yu Gothic", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif;
	/* スマホの横向き時の文字サイズ設定 */
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

body::-webkit-scrollbar {
	display: none;
}

.contents-margin {
	/*margin-bottom: 1.25rem;*/
	padding: 1.5rem 1.5rem;
}

/* リンク */
a {
	color: white;
}

a:hover {
	color: white;
}

/* Bulma変更 */
.columns {
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
}

/*==========================================================*
*=== プロパティ追加(中央寄せなど)
*==========================================================*/
.is-adjusthight-10 {
	min-height: 10vh;
	height: auto;
}

.is-adjusthight-20 {
	min-height: 20vh;
	height: auto;
}

.is-adjusthight-30 {
	min-height: 30vh;
	height: auto;
}

.is-adjusthight-40 {
	min-height: 40vh;
	height: auto;
}

.is-adjusthight-50 {
	min-height: 50vh;
	height: auto;
}

.is-adjusthight-60 {
	min-height: 60vh;
	height: auto;
}

.is-adjusthight-70 {
	min-height: 70vh;
	height: auto;
}

.is-adjusthight-80 {
	min-height: 80vh;
	height: auto;
}

.is-adjusthight-90 {
	min-height: 90vh;
	height: auto;
}

.is-adjusthight-100 {
	min-height: 100vh;
	height: auto;
}

.mt-10 {
	margin-top: 0.625rem;
}

.mr-10 {
	margin-right: 0.625rem;
}

.mb-10 {
	margin-bottom: 0.625rem;
}

.ml-10 {
	margin-left: 0.625rem;
}

.pt-10 {
	padding-top: 0.625rem;
}

.pr-10 {
	padding-right: 0.625rem;
}

.pb-10 {
	padding-bottom: 0.625rem;
}

.pl-10 {
	padding-left: 0.625rem;
}

.mt-20 {
	margin-top: 1.25rem;
}

.mr-20 {
	margin-right: 1.25rem;
}

.mb-20 {
	margin-bottom: 1.25rem;
}

.ml-20 {
	margin-left: 1.25rem;
}

.pt-20 {
	padding-top: 1.25rem;
}

.pr-20 {
	padding-right: 1.25rem;
}

.pb-20 {
	padding-bottom: 1.25rem;
}

.pl-20 {
	padding-left: 1.25rem;
}

.mt-30 {
	margin-top: 1.875rem;
}

.mr-30 {
	margin-right: 1.875rem;
}

.mb-30 {
	margin-bottom: 1.875rem;
}

.ml-30 {
	margin-left: 1.875rem;
}

.pt-30 {
	padding-top: 1.875rem;
}

.pr-30 {
	padding-right: 1.875rem;
}

.pb-30 {
	padding-bottom: 1.875rem;
}

.pl-30 {
	padding-left: 1.875rem;
}

.mt-40 {
	margin-top: 2.5rem;
}

.mr-40 {
	margin-right: 2.5rem;
}

.mb-40 {
	margin-bottom: 2.5rem;
}

.ml-40 {
	margin-left: 2.5rem;
}

.pt-40 {
	padding-top: 2.5rem;
}

.pr-40 {
	padding-right: 2.5rem;
}

.pb-40 {
	padding-bottom: 2.5rem;
}

.pl-40 {
	padding-left: 2.5rem;
}

.mt-50 {
	margin-top: 3.125rem;
}

.mr-50 {
	margin-right: 3.125rem;
}

.mb-50 {
	margin-bottom: 3.125rem;
}

.ml-50 {
	margin-left: 3.125rem;
}

.pt-50 {
	padding-top: 3.125rem;
}

.pr-50 {
	padding-right: 3.125rem;
}

.pb-50 {
	padding-bottom: 3.125rem;
}

.pl-50 {
	padding-left: 3.125rem;
}

.logo {
	height: 2.1875rem;
}

.pointer {
	display: block;
	width: 50px;
	height: 50px;
	background-image: url(../img/icon/pointer.png);
	background-repeat: no-repeat;
	background-size: 100%;
}

.pointer:after {
	content: "";
	-webkit-box-shadow: 5px 7px 9.68px -0.68px rgba(86, 78, 74, 0.2);
	box-shadow: 5px 7px 9.68px -0.68px rgba(86, 78, 74, 0.2);
	padding: 25px;
	border-radius: 30px;
	display: block;
}

.cource-mask {
	opacity: 0.4;
}

.cource-mask a {
	pointer-events: none;
}

/*##############################################################################*
*### コンポーネント
*##############################################################################*/
/*==========================================================*
*=== アコーディオン
*==========================================================*/
.accordion-list-group .accordion-toggle {
	position: relative;
	border-radius: 3px;
	cursor: pointer;
	text-align: center;
	color: white;
	padding: 1.125rem;
	font-weight: 600;
	background-image: url(../img/icon/accordion_up_arrow.png);
	background-repeat: no-repeat;
	background-position: right 10px center;
	background-size: 1.25rem;
}

.accordion-list-group .accordion-toggle.accordion-toggle-style1 {
	background-color: #fc9c34;
}

.accordion-list-group .accordion-toggle.accordion-toggle-style2 {
	background-color: #29586d;
}

.accordion-list-group .accordion-toggle.accordion-toggle-open {
	background-image: url(../img/icon/accordion_down_arrow.png);
}

.accordion-list-group .accordion-toggle .accordion-rate {
	background-image: url(../img/common/star_base.png);
	display: inline-block;
	background-repeat: no-repeat;
	height: 20px;
	width: 67px;
	position: absolute;
	top: 20px;
	left: 10px;
	background-size: 340px 20px;
}

.accordion-list-group .accordion-toggle .accordion-rate.is-rate-00 {
	background-position: left;
}

.accordion-list-group .accordion-toggle .accordion-rate.is-rate-01 {
	background-position: -68px;
}

.accordion-list-group .accordion-toggle .accordion-rate.is-rate-02 {
	background-position: -136px;
}

.accordion-list-group .accordion-toggle .accordion-rate.is-rate-03 {
	background-position: -204px;
}

.accordion-list-group .accordion-toggle .accordion-rate.is-rate-04 {
	background-position: -272px;
}

.accordion-list-group .accordion-list-group-btn1 {
	text-align: left;
	font-size: 1rem;
	font-weight: 700;
	cursor: pointer;
	margin-right: 1.5rem;
	/* ボタンスタイル削除 */
	border: none;
	background-color: white;
}

.accordion-list-group .accordion-list {
	display: none;
}

.accordion-list-group .accordion-list li {
	width: 100%;
	padding: 0.625rem;
	cursor: pointer;
	background-image: url(../img/icon/accordion_right_arrow.png);
	background-repeat: no-repeat;
	background-position: right 0.625rem center;
	background-size: 1.25rem;
}

.accordion-list-group .accordion-list li:not(:last-child) {
	border-bottom: 2px solid #dcd2ce;
}

/*==========================================================*
*=== ナビゲーション
*==========================================================*/
.nav {
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: space-between;
	-webkit-justify-content: space-between;
	overflow: hidden;
	height: 60px;
}

.nav-shadow {
	/* 下に1px影 */
	box-shadow: 0px 2px 0px 0px #f1f1f1;
	-moz-box-shadow: 0px 2px 0px 0px #f1f1f1;
	-webkit-box-shadow: 0px 2px 0px 0px #f1f1f1;
}

.nav-left-item,
.nav-right-item {
	width: 50px;
	text-align: center;
}

.nav-left-item a,
.nav-right-item a {
	font-size: 2rem;
	color: #958b87;
}

.nav-center-item a {
	display: block;
	padding-top: 10px;
}

/* メニューモーダル */
.nav-modal-card-head {
	background-color: #29586d;
	padding: 0.625rem;
}

.nav-modal-card-title {
	color: white;
}

.nav-btn-delete {
	/* Bulmaの .delete.is-large が効かないため指定 */
	height: 32px;
	width: 32px;
	max-height: 32px;
	max-width: 32px;
}

.nav-modal-card-body li {
	text-align: left;
	line-height: 2.5rem;
	border-bottom: 1px solid #eee;
}

.nav-modal-card-body li a {
	display: block;
	background: url(../img/icon/menu_arrow.png) no-repeat right 0.625rem top 0.75rem;
	background-size: 0.5rem;
	color: #29586d;
}

/*==========================================================*
*=== スワイパーカスタム
*==========================================================*/
/*** スワイプコンテンツ***/
.swiper-slide.common-slide {
	text-align: center;
	font-size: 1rem;
	position: relative;
}

.swiper-slide.common-slide .common-slide-head {
	min-height: 30vh;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;
	justify-content: center;
	-webkit-justify-content: center;
}

.swiper-slide.common-slide .common-slide-head .common-slide-head-text-1 {
	font-size: 1.25rem;
	font-weight: 400;
}

.swiper-slide.common-slide .common-slide-head .common-slide-head-text-1:nth-child(1) {
	padding-right: 70px;
}

.swiper-slide.common-slide .common-slide-head .common-slide-head-text-1:nth-child(2) {
	padding-left: 70px;
}

.swiper-slide.common-slide .common-slide-body {
	padding: 10px;
	min-height: 25vh;
	text-align: left;
}

.swiper-slide.common-slide .common-slide-foot .button.common-slide-foot-btn-1 {
	background-color: #92d050;
	color: white;
	border-radius: 25px;
	border: none;
}

.swiper-slide.common-slide .common-slide-foot .button.common-slide-foot-btn-1:hover {
	border: none;
}

/*** スキップボタン***/
.swipper-skip {
	padding-right: 20px;
	min-height: 20vh;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-align: flex-end;
	-ms-flex-align: flex-end;
	-webkit-align-items: flex-end;
	align-items: flex-end;
	-webkit-box-pack: flex-end;
	-ms-flex-pack: flex-end;
	justify-content: flex-end;
	-webkit-justify-content: flex-end;
}

/*==========================================================*
*=== リスト(サブメニューなど)
*==========================================================*/
.list .list-icon {
	margin-right: 1rem;
}

.list .list-icon img {
	width: 40px;
}

.list .list-item-1 {
	position: relative;
	cursor: pointer;
	padding: 2rem 0;
	background-image: url(../img/icon/hatena.png);
	background-repeat: no-repeat;
	background-position: center right;
	background-size: 30px;
	color: #68615e;
}

.list .list-item-1:not(:last-child) {
	border-bottom: 1px solid #d7cbc6;
}

.list .list-item-1 p {
	display: inline-block;
	/* 上下中央 */
	vertical-align: middle;
}

.list .list-item-1 .list-title {
	font-size: 1.25rem;
	font-weight: 600;
}

.list .list-item-1 .list-subtitle {
	font-size: 0.875rem;
	color: #d6cbc5;
}

.list .list-item-1 .list-text {
	/* 行間調整 */
	line-height: 1.2;
}

.list .list-item-1 .pointer {
	position: absolute;
	top: 50%;
	left: 50%;
}

/*##############################################################################*
*### レイアウト(footer,header,contentsなどの変更)
*##############################################################################*/
/*==========================================================*
*=== footer
*==========================================================*/
.footer {
	border-top: 1px solid #d7cbc6;
	/* Bulmaスタイル更新 */
	padding: 3rem 0;
	background-color: transparent;
}

.footer .footer-title {
	padding-bottom: 2rem;
}

.footer .footer-copyright {
	font-size: 0.75rem;
	color: #daceca;
}

.footer-list {
	padding-bottom: 2rem;
}

.footer-list li {
	display: inline;
	padding: 0 0.75rem;
}

.footer-list li a {
	color: #68615e;
}

/*##############################################################################*
*### 各ページ(ページ独自のスタイル)
*##############################################################################*/
/*==========================================================*
*=== トップページ
*==========================================================*/
.top-message {
	padding: 0.5rem;
	margin: 0 0 2rem 0;
	background-color: #faf8f7;
	border-radius: 3px;
	font-weight: 700;
}

.top-message p {
	background-image: url("../img/icon/news.png");
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 60px 37px;
	padding: 0.5rem 0 0.5rem 75px;
	color: #68615e;
	font-size: 0.875rem;
}

.columns.top-content {
	color: #68615e;
	margin: 0 0 2rem 0;
}

.columns.top-content .column {
	position: relative;
}

.columns.top-content .column .pointer {
	position: absolute;
	right: 0;
	bottom: 0;
}

/*==========================================================*
*=== イントロダクション
*==========================================================*/
.intro {
	background-color: #fc9c34;
	color: white;
}

.intro .title {
	color: white;
}
