@charset "UTF-8";
/*##############################################################################*
 *### 共通部
 *##############################################################################*/
/*==========================================================*
 *=== 基本
 *==========================================================*/
body {
  /* @see http://sole-color-blog.com/blog/design/963/ */
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Yu Gothic", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif;
  /* スマホの横向き時の文字サイズ設定 */
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body::-webkit-scrollbar {
  display: none;
}

.contents-margin {
  /*margin-bottom: 1.25rem;*/
  padding: 1.5rem 1.5rem;
}

/* リンク */
a {
  color: #ffffff;
}

a:hover {
  color: white;
}

/* Bulma変更 */
.columns {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
}

/*==========================================================*
*=== プロパティ追加(中央寄せなど)
*==========================================================*/
.is-adjusthight-10 {
  position: relative;
  min-height: 10vh;
  height: auto;
}

.is-adjusthight-20 {
  position: relative;
  min-height: 20vh;
  height: auto;
}

.is-adjusthight-30 {
  position: relative;
  min-height: 30vh;
  height: auto;
}

.is-adjusthight-40 {
  position: relative;
  min-height: 40vh;
  height: auto;
}

.is-adjusthight-50 {
  position: relative;
  min-height: 50vh;
  height: auto;
}

.is-adjusthight-60 {
  position: relative;
  min-height: 60vh;
  height: auto;
}

.is-adjusthight-70 {
  position: relative;
  min-height: 70vh;
  height: auto;
}

.is-adjusthight-80 {
  position: relative;
  min-height: 80vh;
  height: auto;
}

.is-adjusthight-90 {
  position: relative;
  min-height: 90vh;
  height: auto;
}

.is-adjusthight-100 {
  position: relative;
  min-height: 100vh;
  height: auto;
}

.logo {
  height: 2.1875rem;
}

.pointer {
  display: inline-block;
  background-image: url(../img/icon/pointer.png);
  background-repeat: no-repeat;
  background-size: 100%;
}

.pointer:after {
  content: "";
  display: inline-block;
  -webkit-box-shadow: 5px 7px 9.68px -0.68px rgba(86, 78, 74, 0.2);
  box-shadow: 5px 7px 9.68px -0.68px rgba(86, 78, 74, 0.2);
  border-radius: 30px;
}

.pointer.is-pointer-size30 {
  width: 30px;
  height: 30px;
}

.pointer.is-pointer-size30:after {
  width: 30px;
  height: 30px;
}

.pointer.is-pointer-size50 {
  width: 50px;
  height: 50px;
}

.pointer.is-pointer-size50:after {
  width: 50px;
  height: 50px;
}

.course-mask {
  opacity: 0.4;
}

.course-mask a {
  pointer-events: none;
}

/*##############################################################################*
*### コンポーネント
*##############################################################################*/
/*==========================================================*
 *=== アコーディオン
 *==========================================================*/
.accordion-list-group .accordion-toggle {
  position: relative;
  border-radius: 3px;
  cursor: pointer;
  text-align: center;
  color: #ffffff;
  padding: 1.125rem;
  font-weight: 600;
  background-image: url(../img/icon/accordion_up_arrow.png);
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 1.25rem;
}

.accordion-list-group .accordion-toggle.accordion-toggle-style1 {
  background-color: #fc9c34;
}

.accordion-list-group .accordion-toggle.accordion-toggle-style2 {
  background-color: #29586d;
}

.accordion-list-group .accordion-toggle.accordion-toggle-open {
  background-image: url(../img/icon/accordion_down_arrow.png);
}

.accordion-list-group .accordion-toggle .accordion-rate {
  background-image: url(../img/common/star_base.png);
  display: inline-block;
  background-repeat: no-repeat;
  height: 20px;
  width: 67px;
  position: absolute;
  top: 20px;
  left: 10px;
  background-size: 340px 15px;
}

.accordion-list-group .accordion-toggle .accordion-rate.is-rate-00 {
  background-position: left;
}

.accordion-list-group .accordion-toggle .accordion-rate.is-rate-01 {
  background-position: -68px;
}

.accordion-list-group .accordion-toggle .accordion-rate.is-rate-02 {
  background-position: -136px;
}

.accordion-list-group .accordion-toggle .accordion-rate.is-rate-03 {
  background-position: -204px;
}

.accordion-list-group .accordion-toggle .accordion-rate.is-rate-04 {
  background-position: -272px;
}

.accordion-list-group .accordion-list-group-btn1 {
  text-align: left;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
  margin-right: 1.5rem;
  /* ボタンスタイル削除 */
  border: none;
  background-color: #ffffff;
}

.accordion-list-group .accordion-list {
  display: none;
}

.accordion-list-group .accordion-list li {
  width: 100%;
  padding: 0.625rem;
  cursor: pointer;
  background-image: url(../img/icon/accordion_right_arrow.png);
  background-repeat: no-repeat;
  background-position: right 0.625rem center;
  background-size: 1.25rem;
}

.accordion-list-group .accordion-list li:not(:last-child) {
  border-bottom: 2px solid #ddd;
}

/*==========================================================*
*=== ナビゲーション
*==========================================================*/
.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  overflow: hidden;
  height: 60px;
}

.nav-shadow {
  /* 下に1px影 */
  box-shadow: 0px 2px 0px 0px #f1f1f1;
  -moz-box-shadow: 0px 2px 0px 0px #f1f1f1;
  -webkit-box-shadow: 0px 2px 0px 0px #f1f1f1;
}

.nav-left-item,
.nav-right-item {
  width: 50px;
  text-align: center;
}

.nav-left-item a,
.nav-right-item a {
  font-size: 2rem;
  color: #958b87;
}

.nav-center-item a {
  display: block;
  padding-top: 10px;
}

/* メニューモーダル */
.nav-modal-card-head {
  background-color: #29586d;
  padding: 0.625rem;
}

.nav-modal-card-title {
  color: #ffffff;
}

.nav-btn-delete {
  /* Bulmaの .delete.is-large が効かないため指定 */
  height: 32px;
  width: 32px;
  max-height: 32px;
  max-width: 32px;
}

.nav-modal-card-body li {
  text-align: left;
  line-height: 2.5rem;
  border-bottom: 1px solid #eee;
}

.nav-modal-card-body li a {
  display: block;
  background: url(../img/icon/menu_arrow.png) no-repeat right 0.625rem top 0.75rem;
  background-size: 0.5rem;
  color: #29586d;
}

/*==========================================================*
*=== Swiper Custom
*==========================================================*/
/*** Content ***/
.swiper-slide {
  min-height: 100vh;
  text-align: center;
}

.swiper-slide .swiper-slide-head {
  min-height: 25vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  justify-content: center;
  -webkit-justify-content: center;
}

.swiper-slide .swiper-slide-head .swiper-slide-head-text-1 {
  font-size: 1.25rem;
  font-weight: 400;
}

.swiper-slide .swiper-slide-head .swiper-slide-head-text-1:nth-child(1) {
  padding-right: 70px;
}

.swiper-slide .swiper-slide-head .swiper-slide-head-text-1:nth-child(2) {
  padding-left: 70px;
}

.swiper-slide .swiper-slide-head figure {
  padding: 20px;
}

.swiper-slide .swiper-slide-body {
  padding: 10px;
  min-height: 25vh;
  text-align: left;
  font-size: 1.5rem;
}

.swiper-slide .swiper-slide-body img {
  vertical-align: middle;
}

.swiper-slide .swiper-slide-body p {
  padding: 0 0 10px 0;
}

.swiper-slide .swiper-slide-foot .button.swiper-slide-foot-btn-1 {
  background-color: #92d050;
  color: #ffffff;
  border-radius: 50px;
  border: none;
  width: 100px;
  font-size: 1.5rem;
  font-weight: 600;
}

.swiper-slide .swiper-slide-foot .button.swiper-slide-foot-btn-1:hover {
  border: none;
}

.swiper-slide .swiper-slide-foot .pointer {
  position: relative;
  bottom: 20px;
  left: 40px;
}

/*** bullet ***/
.swiper-container-horizontal.swiper-intro > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 10px;
  width: 12px;
  height: 12px;
  background: #ffffff;
  opacity: 1;
}

.swiper-container-horizontal.swiper-intro > .swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #007aff;
}

.swiper-container-horizontal.swiper-course > .swiper-pagination-bullets .swiper-pagination-bullet, .swiper-container-horizontal.swiper-guidanse > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 10px;
  width: 12px;
  height: 12px;
  background: #ffffff;
  opacity: 1;
}

.swiper-container-horizontal.swiper-course > .swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active, .swiper-container-horizontal.swiper-guidanse > .swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #aaa29f;
}

/*** guidanse ***/
.swiper-container.swiper-guidanse.is-bg-moodmeter {
  background-image: url("../img/common/bg_moodmeter.png");
}

/*** skip ***/
.swiper-skip {
  position: absolute;
  right: 10px;
  bottom: 10px;
  z-index: 11;
}

.swiper-skip a {
  font-weight: 600;
  font-size: 1.25rem;
  color: #ffffff;
  display: inline-block;
}

.swiper-skip a:hover {
  color: white;
}

/*==========================================================*
*=== List
*==========================================================*/
/***  guidanse list ***/
.list-item01 {
  position: relative;
  cursor: pointer;
  color: #68615e;
}

.list-item01:not(:last-child) {
  border-bottom: 1px solid #d7cbc6;
}

.list-item01.is-bg-hatena {
  background-image: url(../img/icon/hatena.png);
  background-repeat: no-repeat;
  background-position: center right;
}

.list-item01 .list-item01-content {
  display: block;
  padding: 2rem 0 2rem 5rem;
  font-size: 1.25rem;
  font-weight: 600;
  color: #68615e;
}

.list-item01 .list-item01-content.is-bg-bloosm01 {
  background-image: url("../img/icon/list_pink01.png");
  background-position: left center;
  background-repeat: no-repeat;
}

.list-item01 .list-item01-content.is-bg-bloosm02 {
  background-image: url("../img/icon/list_pink02.png");
  background-position: left center;
  background-repeat: no-repeat;
}

.list-item01 .list-item01-content.is-bg-bloosm03 {
  background-image: url("../img/icon/list_pink03.png");
  background-position: left center;
  background-repeat: no-repeat;
}

.list-item01 .pointer {
  position: absolute;
  top: 70%;
  left: 45%;
}

/*##############################################################################*
*### レイアウト(footer,header,contentsなどの変更)
*##############################################################################*/
/*==========================================================*
*=== footer
*==========================================================*/
.footer {
  border-top: 1px solid #d7cbc6;
  background-image: #ffffff;
  /* Bulmaスタイル更新 */
  padding: 3rem 0;
  background-color: transparent;
}

.footer .footer-title {
  padding-bottom: 2rem;
}

.footer .footer-copyright {
  font-size: 0.75rem;
  color: #daceca;
}

.footer-list {
  padding-bottom: 1rem;
}

.footer-list li {
  display: inline;
  padding: 0 0.75rem;
}

.footer-list li a {
  color: #68615e;
}

/*##############################################################################*
*### 各ページ(ページ独自のスタイル)
*##############################################################################*/
/*==========================================================*
*=== イントロダクション
*==========================================================*/
.intro {
  color: #ffffff;
}

.intro.is-bg-yellow {
  background-color: #ffc000;
}

.intro.is-bg-orange {
  background-color: #fc9c34;
}

.intro .title {
  color: #ffffff;
}

/*==========================================================*
*=== トップページ
*==========================================================*/
.top-message {
  padding: 0.5rem;
  margin: 0 0 2rem 0;
  background-color: #faf8f7;
  border-radius: 3px;
  font-weight: 700;
}

.top-message p {
  background-image: url(../img/icon/news.png);
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 67px 50px;
  padding: 1rem 0 0.875rem 75px;
  color: #68615e;
  font-size: 1rem;
}

.columns.top-content {
  color: #68615e;
  margin: 0 0 2rem 0;
}

.columns.top-content .column {
  position: relative;
}

.columns.top-content .column .pointer {
  position: absolute;
  right: 10%;
  bottom: 0;
}

/*==========================================================*
*=== ガイダンス
*==========================================================*/
