@charset "UTF-8";
/*##############################################################################*
 *### base
 *##############################################################################*/
/*==========================================================*
 *=== basic
 *==========================================================*/
body {
  /* @see http://sole-color-blog.com/blog/design/963/ */
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Yu Gothic", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif;
  /* スマホの横向き時の文字サイズ設定 */
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body::-webkit-scrollbar {
  display: none;
}

.contents-margin {
  /*margin-bottom: 1.25rem;*/
  padding: 1.5rem 1.5rem;
}

/* link */
a {
  color: #ffffff;
}

a:hover {
  color: white;
}

/* Bulma変更 */
.columns {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
}

/*==========================================================*
*=== property
*==========================================================*/
.logo {
  height: 2.128rem;
}

/*** arrow  ***/
.pointer {
  display: inline-block;
  background-image: url(../img/icon/pointer.png);
  background-repeat: no-repeat;
  -webkit-background-size: 100% 100%;
  background-size: 100%;
}

.pointer:after {
  content: "";
  display: inline-block;
  -webkit-box-shadow: 5px 7px 9.68px -0.68px rgba(86, 78, 74, 0.2);
  box-shadow: 5px 7px 9.68px -0.68px rgba(86, 78, 74, 0.2);
  -webkit-border-radius: 30px;
  border-radius: 30px;
}

.pointer.is-pointer-size30 {
  width: 30px;
  height: 30px;
}

.pointer.is-pointer-size30:after {
  width: 30px;
  height: 30px;
}

.pointer.is-pointer-size50 {
  width: 50px;
  height: 50px;
}

.pointer.is-pointer-size50:after {
  width: 50px;
  height: 50px;
}

/*** using ban ***/
.mask {
  opacity: 0.4;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
}

.mask a {
  pointer-events: none;
}

/*** bulma image custom ***/
.image img.is-centered {
  margin: 0 auto;
}

/*** bulma title custom ***/

/*##############################################################################*
*### elements
*##############################################################################*/
/*==========================================================*
*=== button(base:bulma)
*==========================================================*/
.button {
  color: #ffffff;
  /*** introduction ***/
  /*** guidanse ***/
}

.button.button01 {
  background-color: #92d050;
  border: none;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  width: 50%;
  font-size: 1.5rem;
  font-weight: 600;
}

.button.button01:hover {
  color: #ffffff;
  border: none;
}

.button.button02 {
  border: none;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  width: 80%;
  font-size: 1.5rem;
  background-color: #ffad4d;
  background-image: url(../img/icon/button_right_arrow.png);
  background-position: right 10px center;
  background-repeat: no-repeat;
  -webkit-background-size: 30px 30px;
  background-size: 30px;
}

.button.button02:hover {
  color: #ffffff;
  border: none;
}

/*##############################################################################*
*### components
*##############################################################################*/
/*==========================================================*
 *=== accordion
 *==========================================================*/
.accordion-list-group .accordion-toggle {
  position: relative;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  cursor: pointer;
  text-align: center;
  color: #ffffff;
  font-weight: 600;
  background-image: url(../img/icon/accordion_up_arrow.png);
  background-repeat: no-repeat;
  background-position: right 10px center;
  -webkit-background-size: 30px 30px;
  background-size: 30px;
  font-size: 1.5rem;
  padding: 1rem;
}

.accordion-list-group .accordion-toggle.accordion-toggle-style1 {
  background-color: #ffad4d;
}

.accordion-list-group .accordion-toggle.accordion-toggle-style2 {
  background-color: #29586d;
}

.accordion-list-group .accordion-toggle.accordion-toggle-open {
  background-image: url(../img/icon/accordion_down_arrow.png);
}

.accordion-list-group .accordion-toggle .accordion-rate {
  background-image: url(../img/common/star_base.png);
  -webkit-background-size: 350px 20px;
  background-size: 350px 20px;
  background-repeat: no-repeat;
  display: inline-block;
  height: 30px;
  width: 70px;
  position: absolute;
  top: 20px;
  left: 25px;
}

.accordion-list-group .accordion-toggle .accordion-rate.is-rate-00 {
  background-position: left;
}

.accordion-list-group .accordion-toggle .accordion-rate.is-rate-01 {
  background-position: -68px;
}

.accordion-list-group .accordion-toggle .accordion-rate.is-rate-02 {
  background-position: -136px;
}

.accordion-list-group .accordion-toggle .accordion-rate.is-rate-03 {
  background-position: -204px;
}

.accordion-list-group .accordion-toggle .accordion-rate.is-rate-04 {
  background-position: -272px;
}

.accordion-list-group .accordion-list-group-btn1 {
  text-align: left;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
  margin-right: 1.5rem;
  border: none;
  background-color: #ffffff;
}

.accordion-list-group .accordion-list {
  display: none;
}

.accordion-list-group .accordion-list li {
  width: 100%;
  padding: 0.625rem;
  cursor: pointer;
  background-image: url(../img/icon/button_right_arrow.png);
  background-repeat: no-repeat;
  background-position: right 0.625rem center;
  -webkit-background-size: 1.25rem 1.25rem;
  background-size: 1.25rem;
  font-size: 1rem;
}

.accordion-list-group .accordion-list li:not(:last-child) {
  border-bottom: 2px solid #dddddd;
}

/*==========================================================*
*=== navigation
*==========================================================*/
.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  overflow: hidden;
  height: 50px;
}

.nav-shadow {
  /* 下に1px影 */
  box-shadow: 0px 2px 0px 0px #f1f1f1;
  -moz-box-shadow: 0px 2px 0px 0px #f1f1f1;
  -webkit-box-shadow: 0px 2px 0px 0px #f1f1f1;
}

.nav-left-item,
.nav-right-item {
  width: 50px;
  text-align: center;
}

.nav-left-item a,
.nav-right-item a {
  font-size: 2rem;
  color: #958b87;
}

.nav-center-item a {
  display: block;
  padding-top: 10px;
}

/* modal */
.nav-modal-card-head {
  background-color: #29586d;
  padding: 0.625rem;
}

.nav-modal-card-title {
  color: #ffffff;
}

.nav-btn-delete {
  /* Bulmaの .delete.is-large が効かないため指定 */
  height: 32px;
  width: 32px;
  max-height: 32px;
  max-width: 32px;
}

.nav-modal-card-body li {
  text-align: left;
  line-height: 2.5rem;
  border-bottom: 1px solid #eeeeee;
}

.nav-modal-card-body li a {
  display: block;
  background: url(../img/icon/menu_arrow.png) no-repeat right 0.625rem top 0.75rem;
  -webkit-background-size: 0.5rem 0.5rem;
  background-size: 0.5rem;
  color: #29586d;
}

/*==========================================================*
*=== Swiper Custom
*==========================================================*/
/*** Content ***/
.swiper-slide {
  text-align: center;
}

.swiper-slide .swiper-slide-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  justify-content: center;
  -webkit-justify-content: center;
}

.swiper-slide .swiper-slide-head .swiper-slide-head-text-1 {
  font-size: 1.25rem;
  font-weight: 400;
}

.swiper-slide .swiper-slide-head .swiper-slide-head-text-1:nth-child(1) {
  padding-right: 70px;
}

.swiper-slide .swiper-slide-head .swiper-slide-head-text-1:nth-child(2) {
  padding-left: 70px;
}

.swiper-slide .swiper-slide-body {
  text-align: left;
}

.swiper-slide .swiper-slide-body img {
  vertical-align: middle;
}

.swiper-slide .swiper-slide-foot {
  position: relative;
}

/*** bullet ***/
.swiper-container-horizontal.intro-main > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 10px;
  width: 12px;
  height: 12px;
  background: #ffffff;
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.swiper-container-horizontal.intro-main > .swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #007aff;
}

.swiper-container-horizontal.course-main > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 10px;
  width: 12px;
  height: 12px;
  background: #ffffff;
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.swiper-container-horizontal.course-main > .swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #aaa29f;
}

/*** skip ***/
.swiper-skip {
  position: absolute;
  right: 10px;
  bottom: 10px;
  z-index: 11;
}

.swiper-skip a {
  font-weight: 600;
  font-size: 1.25rem;
  color: #ffffff;
  display: inline-block;
}

.swiper-skip a:hover {
  color: white;
}

/*==========================================================*
*=== List
*==========================================================*/
.list-item01 {
  font-family: NotoSansCJKjp;
  position: relative;
  cursor: pointer;
  color: #68615e;
}

.list-item01:not(:last-child) {
  border-bottom: 1px solid #d7cbc6;
}

.list-item01.is-bg-hatena {
  background-image: url(../img/icon/hatena.png);
  background-repeat: no-repeat;
  background-position: center right;
  -webkit-background-size: 45px 45px;
  background-size: 45px;
}

.list-item01 .list-item01-content {
  display: block;
  font-weight: 600;
  color: #68615e;
  padding: 2.25rem 0 2rem 6rem;
  font-size: 1.5rem;
}

.list-item01 .list-item01-content.is-bg-bloosm01 {
  background-image: url(../img/icon/list_pink01.png);
  background-position: left center;
  background-repeat: no-repeat;
  -webkit-background-size: 60px 60px;
  background-size: 60px;
}

.list-item01 .list-item01-content.is-bg-bloosm02 {
  background-image: url(../img/icon/list_pink02.png);
  background-position: left center;
  background-repeat: no-repeat;
  -webkit-background-size: 60px 60px;
  background-size: 60px;
}

.list-item01 .list-item01-content.is-bg-bloosm03 {
  background-image: url(../img/icon/list_pink03.png);
  background-position: left center;
  background-repeat: no-repeat;
  -webkit-background-size: 60px 60px;
  background-size: 60px;
}

.list-item01 .pointer {
  position: absolute;
  top: 70%;
  left: 45%;
}

/*##############################################################################*
*### layout
*##############################################################################*/
/*==========================================================*
*=== footer
*==========================================================*/
.footer {
  text-align: center;
  border-top: 1px solid #d7cbc6;
  /* Bulmaスタイル更新 */
  padding: 1.5rem 0;
  background-color: #ffffff;
}

.footer .footer-title {
  padding-bottom: 1rem;
}

.footer .footer-copyright {
  font-size: 0.75rem;
  color: #daceca;
}

.footer-list {
  padding-bottom: 1rem;
}

.footer-list li {
  display: inline;
  padding: 0 0.75rem;
}

.footer-list li a {
  color: #68615e;
}

/*##############################################################################*
*### Unique Page
*##############################################################################*/
/*==========================================================*
*=== Introduction
*==========================================================*/
.intro {
  position: relative;
  color: #ffffff;
  min-height: 100vh;
}

.intro.is-bg-yellow {
  background-color: #ffc000;
}

.intro.is-bg-orange {
  background-color: #ffad4d;
}

.intro .title {
  color: #ffffff;
  width: 100%;
}

.intro .title p {
  padding: 0 30%;
}

.intro-main {
  min-height: 80vh;
}

.intro-main .intro-head {
  min-height: 20vh;
}

.intro-main .intro-body {
  min-height: 30vh;
}

.intro-main .intro-body p {
  line-height: 3rem;
  font-weight: 500;
  padding: 0 10rem 2rem 10rem;
  font-size: 1.5rem;
}

.intro-main .intro-foot {
  min-height: calc(100% - 50vh);
}

.intro-main .intro-foot .pointer {
  position: absolute;
  top: 15px;
  right: 20%;
  -webkit-transform: rotate(-40deg);
  transform: rotate(-40deg);
}

/*==========================================================*
*=== Top
*==========================================================*/
.top-message {
  background-color: #faf8f7;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  font-weight: 700;
  color: #68615e;
  font-size: 1.25rem;
  margin: 0 0 1rem 0;
  padding: 1rem 0 1.25rem 6rem;
}

.top-message.is-bg-img-news {
  background-image: url(../img/icon/news.png);
  background-repeat: no-repeat;
  background-position: left 7px center;
  -webkit-background-size: 70px 70px;
  background-size: 70px;
}

.columns.top-content {
  color: #68615e;
  text-align: center;
}

.columns.top-content .column {
  position: relative;
}

.columns.top-content .column a {
  display: block;
}

.columns.top-content .column .pointer {
  position: absolute;
  right: 20%;
  bottom: 0;
}

/*==========================================================*
*=== each course(program_menu & guidanse) * 5
*==========================================================*/
.course {
  position: relative;
}

/*** course main blocks ***/
.course-main {
  color: #ffffff;
  position: relative;
  /*** 高さを固定 ***/
}

.course-main.is-heightadjust {
  height: 1080px;
}

.course-main.is-bg-moodmeter {
  background-image: url(../img/common/bg_moodmeter.png);
  background-repeat: no-repeat;
  -webkit-background-size: 100% 100%;
  background-size: 100%;
}

.course-main .sub-title {
  font-weight: 600;
  text-align: center;
  padding: 0 0 1rem 0;
  font-size: 2rem;
}

.course-main .course-text {
  padding: 0 10rem 2rem 10rem;
  font-size: 1.5rem;
}

.course-main .course-head {
  padding: 1.5rem 0;
  text-align: center;
}

.course-main .course-head.is-bg-img-pink01 {
  background-image: url(../img/common/moodmeter_banner_bg.png);
  background-repeat: no-repeat;
  -webkit-background-size: 100% 100%;
  background-size: 100%;
  background-position: center;
}

.course-main .course-head .is-banner {
  width: 300px;
}

.course-main .course-head .is-img01 {
  width: 140px;
  padding: 0 0 2rem 0;
}

.course-main .course-head .is-img02 {
  width: 600px;
}

.course-main .course-body {
  padding: 1rem 1.5rem;
}

.course-main .course-body .course-body-text {
  padding: 0 0 1rem 0;
}

.course-main .course-foot .is-img01 {
  width: 300px;
}

.course-main .course-foot .pointer {
  position: absolute;
  bottom: -40px;
  left: 50%;
}

.course-main .swiper-skip a {
  color: #aaa29f;
}

@media screen and (max-width: 768px){
  .logo{
    height: 1.5rem;
  }
  .title{
    font-size: 1.25rem;
  }
  .button.button01{
    font-size: 1rem;
  }
  .button.button02{
    font-size: 1rem;
  }
  .accordion-list-group .accordion-toggle{
    font-size: 0.75rem;
    padding: 0.875rem;
  }
  .accordion-list-group .accordion-toggle .accordion-rate{
    -webkit-background-size: 350px 15px;
    background-size: 350px 15px;
    position: absolute;
    top: 8px;
    left: 5px;
  }
  .accordion-list-group .accordion-list-group-btn1{
    font-size: 0.75rem;
  }
  .accordion-list-group .accordion-list li{
    font-size: 0.75rem;
  }
  .nav{
    height: 40px;
  }
  .swiper-container-horizontal.intro-main > .swiper-pagination-bullets .swiper-pagination-bullet{
    width: 8px;
    height: 8px;
  }
  .swiper-container-horizontal.course-main > .swiper-pagination-bullets .swiper-pagination-bullet{
    width: 8px;
    height: 8px;
  }
  .swiper-skip{
    position: absolute;
    right: 12px;
    bottom: 9px;
  }
  .swiper-skip a{
    font-size: 1rem;
  }
  .list-item01.is-bg-hatena{
    -webkit-background-size: 20px 20px;
    background-size: 20px;
  }
  .list-item01 .list-item01-content{
    padding: 1.5rem 0 1.5rem 5rem;
    font-size: 1rem;
  }
  .list-item01 .list-item01-content.is-bg-bloosm01{
    -webkit-background-size: 35px 35px;
    background-size: 35px;
  }
  .list-item01 .list-item01-content.is-bg-bloosm02{
    -webkit-background-size: 35px 35px;
    background-size: 35px;
  }
  .list-item01 .list-item01-content.is-bg-bloosm03{
    -webkit-background-size: 35px 35px;
    background-size: 35px;
  }
  .intro .title p{
    padding: 0 15%;
  }
  .intro-main .intro-body{
    padding: 1.25rem 1.5rem;
  }
  .intro-main .intro-body p{
    font-size: 1rem;
    padding: 0 0 1rem 0;
    line-height: 1.75rem;
  }
  .intro-main .intro-body p:last-child{
    padding: 0 0 0 0;
  }
  .intro-main .intro-foot .pointer{
    position: absolute;
    top: 15px;
    right: 12%;
  }
  .top-message{
    font-size: 0.75rem;
    padding: 0.25rem;
    margin: 0 0 0.75rem 0;
  }
  .top-message.is-bg-img-news{
    -webkit-background-size: 45px 45px;
    background-size: 45px;
  }
  .top-message .top-message-text{
    padding: 0.5rem 0.5rem 0.675rem 4rem;
  }
  .columns.top-content{
    margin: 0 0.75rem 0 0.75rem;
  }
  .columns.top-content .column{
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  }
  .columns.top-content .column img{
    width: 150px;
  }
  .columns.top-content .column .pointer{
    position: absolute;
    right: 0;
    bottom: 0;
  }
  .course-main.is-heightadjust{
    height: 650px;
  }
  .course-main.is-bg-moodmeter{
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
  }
  .course-main .sub-title{
    padding: 0 0 0.25rem 0;
    font-size: 1.25rem;
  }
  .course-main .course-text{
    padding: 0 1rem 1.25rem 1rem;
    font-size: 1rem;
  }
  .course-main .course-head{
    padding: 1.25rem 0;
  }
  .course-main .course-head .is-banner{
    width: 190px;
  }
  .course-main .course-head .is-img01{
    width: 95px;
    padding: 0 0 1rem 0;
  }
  .course-main .course-head .is-img02{
    width: 300px;
  }
  .course-main .course-body{
    padding: 0.5rem 1.5rem;
  }
  .course-main .course-body .course-body-text{
    padding: 0 0 0.5rem 0;
  }
  .course-main .course-foot .is-img01{
    width: 200px;
  }
}
